.home {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 734px;
  background-color: white;
  min-height: 334px;
  border-radius: 16px;
  padding: 38px 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.label {
  padding-left: 62px;
}

.map {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  img {
    margin-top: 14px;
  }
}

.divider {
  border-left: 1px dotted black;
  height: 54px;
  position: absolute;
  width: 1px;
  top: 35px;
  bottom: 8px;
}

.invisibleDivider {
  display: none;
}

.city {
  display: flex;
  gap: 48px;
  max-height: 45px;
}

.lineBlock {
  height: 60px;
}

.cities {
  display: flex;
  gap: 80px;
}

.cityWithAction {
  width: 450px;
}

.line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
}

.block {
  display: flex;
  flex-direction: column;
}

.add {
  margin-bottom: 20px;
}

.buttonContainer {
  width: 60px;
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 16px 8px;
    box-shadow: 1px 1px 10px 1px var(--grey-color);
  }

  .info {
    gap: 0;
  }

  .block {
    flex-direction: row;
    gap: 24px;
  }

  .cityWithAction {
    width: max-content;
  }

  .buttonContainer {
    width: 100%;
    margin: 16px 0;
  }
}